*{
    margin: 0px;
    border:none;
}
div {
    margin-top: 50px;
    margin-left: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: blue;
    color:white

}
/*
positive degrees rotate things clockwise 
negative degrees rotate things counter clock 


*/
#will-be-rotated{
    transform-origin:left;/* origin by default is the center, you can change it to left,right,bottom,up or two of them up right , bottom left... */
    transition-duration: 5s;
    transition-timing-function: steps(5,jump-end);
    transition-delay: 2s;
    background-color: yellow;
    transition-property: all /* what to include with transition movement for example transition in backgroundcolor */

}
#will-be-rotated:hover{
     transform: rotate(360deg);
     background-color: red;
}

/* 
transform-origin does nothing here
X and Y could be negative or positive 
*/
#will-be-translated{
    transform: translate(200px,100px);/*tanslateX(200px) translateY(100px) */
    
}
/*
transform-origin will allow us to decide which way the scale moves

*/

#will-be-scaled{
    transition-duration: 3s;
    opacity: 0.1;

}

#will-be-scaled:hover{
    transform: scale(2,0.5);/*scale(2,0.5) scaleX(2),scaleY(0.5) */
    transform-origin: left;
    opacity: 1;
}

#will-be-skewed{
    margin-top: 20px;
    margin-bottom: 20px;
    transform:skew(20deg,0deg)
}
#keyframe-animation{
    animation-name: slide;
    animation-duration: 5s;
    transform: translateX(200px);
}

/* use @keyframes
   and give it a name
   from start 
   to end 

   see twitter project

*/

@keyframes slide {

    from{ 
        transform: translateX(2px);

    }
    to{ 
        transform: translateX(200px);

    }
}